::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #ad1313;
  border: 0px none #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background:  #312f22;
}

::-webkit-scrollbar-thumb:active {
  background: #ad1313;
}

body{
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.404);
    font-family: 'Noto Sans JP', sans-serif;
}

.fas, .fab{
  font-size: 25px;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  width: 100%;
  align-items: center;
  margin:0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 2;
  background: #fff;
}
.logo, .search, .user{
  display: flex;
  align-items: center;
}
.logo img{
    width: 60px;
}
.logo-title{
  margin: 0;
  font-weight: normal;
}
.search{
  height: 40px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding-left: 10px;
}
.user-name{
  margin-right: 10px;
}
.user{
  justify-content: flex-end;
}
.user img{
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 20px;
}

.hero{
  display: grid;
  grid-template: auto / 8% 92%;
  grid-template-areas:
        "navbar estrenos"
        "navbar aclamadas"
        "navbar imperdibles";
}
.navbar{
  grid-area: navbar;
  background: #000;
  height: 100%;
  position: fixed;
  width: 7%;
  top: 60px;
}
.navbar-nav{
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 15px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.nav-item{
  width: 100%;
  margin: 20px 0;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link{
  text-decoration: none;
  color: white;
}
.nav-link:hover{
  color: #ad1313;
}

.estrenos, .aclamadas, .imperdibles{
  padding: 20px;
}
.estrenos{
  grid-area: estrenos;
  padding-top: 60px;
}
.estrenos-title{
  grid-area: estrenos-title;
}
.estrenos-list, .aclamadas-list, .imperdibles-list{
  grid-area: estrenos-list;
  display: grid;
  grid-template: 250px /repeat(4, 450px);
  gap: 20px;
  max-height: 100%;
  overflow-x: auto;
}
.estrenos-title, .aclamadas-title, .imperdibles-title{
  margin: 10px 0 20px;
}
.item{
  position: relative;
}
.item img{
  width: 100%;
  height: 100%;
}
.item-details{
  position: absolute;
  bottom: 0;
  color: white;
  background: rgba(20, 20, 20, 0.9);
  font-size: 14px;
  height: 100%;
  font-weight: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 300ms;
}
.item-details:hover{
  opacity: 1;
}

.item-details h3{
  margin: 5px;
  font-size: 16px;

}
.item-details p{
  font-weight: 100;
  margin: 5px;
}
.item-details a{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 20px;
}

.aclamadas{
  grid-area: aclamadas;
}
.imperdibles{
  grid-area: imperdibles;
}

@media only screen and (max-width: 767px){
  .header{
    grid-template-columns: 1fr 1fr;
  }
  .search{
    display: none;
  }
  .navbar{
    width: 9%;
  }
}
@media only screen and (max-width: 425px){
  .hero{
    grid-template: auto / 100%;
    grid-template-areas:  "estrenos"
                          "aclamadas"
                          "imperdibles"
                          "navbar";
  }
  .imperdibles {
    padding-bottom: 60px;
  }
  .navbar{
    z-index: 1;
    top: 90%;
    width: 100%;
    height: auto;
    bottom: 0;
  }
  .navbar-nav{
    font-size: 10px;
    flex-direction: unset;
    height: 100%;
  }
  .nav-item{
    margin: 10px 0;
  }
  .nav-item:last-child {
    margin: inherit;
  }
  .estrenos-list, .aclamadas-list, .imperdibles-list {
    grid-template: 200px / repeat(4, 320px);
  }
  .item-details{
    font-size: 10px;
  }
}

@media only screen and (max-width: 375px){
  .logo-title{
    font-size: 1.3em;
  }
  .user-name{
    display: none;
  }
}
